/* custom CSS rules */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 300;
}

h1 {
  color: orange;
  font-weight: 700;
}

#map {
  height: 75vh;
  border-top: 2px solid orange;
}

.leaflet-legend {
  width: 240px;
  height: 180px;
  background-color: darkgray;
  display: none;
}

.show-legend {
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  #map {
    border-top: none;
  }
  .leaflet-legend {
    display: block;
  }
  #legend button {
    display: none;
  }
}